// Imports
@import "../../base/fonts";
@import "../../base/colors";

.starProject {
	.links {
		svg:hover {
			fill: $purple;
		}
	}

	.techStack {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: $body;
		}

		h3 {
			strong {
				font-family: $main;
			}
		}
	}
}
