// Imports
@import "../base/colors";

.nav {
	background-image: none;

	@screen xl {
		background-image: url("/svg/background/stacked-waves-haikei-flatBlueGrey-two.svg");
	}

	.navButton {
		svg:hover {
			fill: $yellow;

			g {
				path {
					fill: $yellow;
				}
			}
		}
	}
}
