// Imports
@import "../base/colors";

.nav {
	.navButton {
		svg:hover {
			fill: $yellow;

			g {
				path {
					fill: $yellow;
				}
			}
		}
	}

	// Google Translate Navigation SVG
	.openGoogleTranslateSVG,
	.closeGoogleTranslateSVG:hover {
		fill: none;

		g,
		path {
			fill: none;
		}
		line {
			fill: none;
		}
	}
}
