// Imports
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base/fonts";
@import "./base/colors";

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background: $flatBlueGreyDarker;
	font-family: -apple-system, $main, $body, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
	// display: none;
	width: 0.65rem;
	height: 0.65rem;
}

body::-webkit-scrollbar-track {
	background: $flatBlueGreyDarker;
}

body::-webkit-scrollbar-thumb {
	background: $yellow;
	border-radius: 5px;

	&:hover {
		transition: all 0.5s;
		background-color: $purple;
	}
}

* {
	box-sizing: border-box;
	font-family: $body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $main;

	span {
		font-family: $main;
	}
}

// Google Translate Select Options
#google_translate_element {
	select {
		border: none;
		@apply py-[10px] px-[8px] border-none bg-[#e1e5e7] rounded-sm text-purple;

		option {
			@apply text-purple py-1;
		}
	}

	.goog-te-gadget {
		@apply relative;
	}

	.goog-te-gadget .goog-te-combo {
		border: none;
		color: $purple !important;
		@apply my-0 absolute 2xl:top-[-10px] 2xl:left-[-80px] top-[-10px] left-[-75px];

		p {
			@apply hidden;
		}
	}

	.goog-te-gadget {
		color: $white !important;
	}

	.VIpgJd-ZVi9od-l4eHX-hSRGPd {
		display: none !important;
	}
}
